
.dashBoard-bg{

    background: linear-gradient(180deg, rgba(247, 251, 255, 0.88) .13%, rgba(217, 234, 255, 0.88) 153.35%);

    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    position: relative;
    overflow: hidden;
  }
  .dashBoard-bg::after{
    background: conic-gradient(from 145deg at 50% 50%, #98a181 0deg, #8ec4ff 82.8000015deg, #b9b2ff 176.40000343deg, #ecc4dc 261.00000858deg, #a78068 1turn);
    border-radius: 50%;
    content: "";
    filter: blur(40px);
    height: 439.443px;
    left: 0;
    mix-blend-mode: color;
    position: absolute;
    top: 170px;
    transform: rotate(-117.73deg);
    width: inherit;
  }
  .text-robot{
    font-family: "IBM Plex Mono", monospace;
  }

  .attachment{
    background: linear-gradient(180deg, rgba(247, 251, 255, 0.88) .13%, rgba(217, 234, 255, 0.88) 153.35%);

    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    overflow: hidden;
  }

  .attachment:after{
    background: conic-gradient(from 145deg at 50% 50%, #98a181 0deg, #8ec4ff 82.8000015deg, #b9b2ff 176.40000343deg, #ecc4dc 261.00000858deg, #a78068 1turn);
    border-radius: 50%;
    content: "";
    filter: blur(40px);
    height: 439.443px;
    left: 0;
    mix-blend-mode: color;
    position: absolute;
    top: 30px;
    transform: rotate(-117.73deg);
    width: inherit;
  }

  @keyframes slideBlur {
    0% {
      opacity: 0;

      filter: blur(10px);

    }
    100% {
      opacity: 1;

      filter: blur(0);
    }
  }

  .animate-slide-blur {
    animation: slideBlur 0.1s ease-out forwards;
  }

  .whatsApp{
    background-image: url('/assets/images/waapi/wa-message-bg-faded.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
